  @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    box-sizing: border-box;
    color: #f6f6f6;
}

a {
    text-decoration: none;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.primeiro-destaque {
    color: #22D4FD;
}


.apresentacao-conteudo {
    width: 615px;
}

.img-1 {
    width: 388px;
    height: 450px;
}

.apresentacao-conteudo-titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao-conteudo-texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1em;
}

.botao {
    border: 2px solid #22D4FD;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 338px;
    height: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

.botao :hover {
    cursor: pointer;
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.titulo-redes {
    margin: 1em 0 0.5em 0;
    text-align: center;
    font-weight: 400;
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
}

.titulo-botao {
    color: #f6f6f6;
}